
.center-container-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Full viewport height */
  box-sizing: border-box;

}
.center-container-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%; /* Full viewport height */
  box-sizing: border-box;

}

.result-card {
  width: 100%; /* Adjust the width as necessary */
  max-width: 80%; /* Limit the maximum width */
  margin-bottom: 20px;
}

mat-card {
  width: 100%;
}
:host::ng-deep.mat-mdc-checkbox .mdc-checkbox {
  margin-top: -0.5em !important;
}
:host::ng-deep.mat-mdc-checkbox .mdc-form-field {
  align-items: start !important;
}
