.results-wrapper {
  width: 100%;
  max-width: 800px;
}

.center-container-question {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: center;
  height: 100%;
  /* Full viewport height */
  padding: 20px;

  box-sizing: border-box;

}

.center-container-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  /* Full viewport height */
  padding: 20px;

  box-sizing: border-box;

}

.result-card {
  width: 100%;
  margin-bottom: 20px;
}

mat-card {
  width: 100%;
}

.checkbox-wrap {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

mat-checkbox {
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}

/* Styles for smaller screens */
@media (max-width: 600px) {
  .mat-card-content {
    font-size: 14px;
  }

  mat-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  mat-checkbox {
    width: 100%;
    white-space: normal;
  }

  .result-card {
    margin-bottom: 15px;
  }

  .center-container {
    padding: 10px;
  }
}
