/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html,body {
    height: 100vh
}


.mat-mdc-checkbox .mdc-checkbox {
  margin-top: -0.5em !important;
}
.mat-mdc-checkbox .mdc-form-field {
  align-items: start !important;
}


.mat-checkbox-layout{
white-space: normal !important;

}
.mat-checkbox-inner-container{
    margin-top: 4px;
}
