
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height allowing scroll */
  height: auto;
  box-sizing: border-box;
  padding: 20px;
}

.result-card {
  max-width: 80%;
  justify-content: center;/* Limit the maximum width */
  width: 100%;
}

@media (max-width: 600px) {
  .center-container {
    padding: 10px;
    justify-content: flex-start;
    padding-top: 40px;
  }
  
  .result-card {
    max-width: 95%;
  }
}
