<mat-toolbar color="primary">
  <span>Exam Maker</span>
</mat-toolbar>

<div class="container" fxLayout="column" fxLayoutAlign="center center" *ngIf="!examStarted">
  <mat-card class="exam-card">
    <mat-card-header>
      <mat-card-title>Select Exam</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px">
        <mat-form-field appearance="fill">
          <mat-label>Exam Type</mat-label>
          <select matNativeControl [(ngModel)]="selectedExam">
            <option *ngFor="let exam of exams" [value]="exam.value">
              {{exam.viewValue}}
            </option>
          </select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Number of Questions</mat-label>
          <input matInput type="number" [(ngModel)]="numberOfQuestions">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="startExam()">Start Exam</button>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet *ngIf="examStarted"></router-outlet>