
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Full viewport height */
  box-sizing: border-box;
}

.result-card {
  max-width: 80%;
  justify-content: center;/* Limit the maximum width */
}
